
@page "/delivery"
<h3>Delivery</h3>
<html lang="ru">
<head>
    <link href="css/delivery.css" rel="stylesheet" />
</head>
<body class="" data-js-loaded="true" style="">




    <!--body start html embeds start-->
    <!--body start html embeds end-->






    <div id="SITE_CONTAINER">
        <style type="text/css" data-styleid="uploadedFonts"></style><div>
            <style type="text/css" data-styleid="theme_fonts">
                .font_0 {
                    font: normal normal normal 28px/1.1em 'EB Garamond',serif;
                    color: #FFFFFF;
                }

                .font_1 {
                    font: normal normal normal 14px/1.1em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;
                    color: #FFFFFF;
                }

                .font_2 {
                    font: normal normal normal 21px/1.1em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;
                    color: #FFFFFF;
                }

                .font_3 {
                    font: normal normal normal 60px/1.1em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;
                    color: #FFFFFF;
                }

                .font_4 {
                    font: normal normal normal 40px/1.3em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;
                    color: #FFFFFF;
                }

                .font_5 {
                    font: normal normal normal 25px/1.2em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;
                    color: #FFFFFF;
                }

                .font_6 {
                    font: normal normal normal 18px/1.3em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;
                    color: #FFFFFF;
                }

                .font_7 {
                    font: normal normal normal 16px/1.3em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;
                    color: #FFFFFF;
                }

                .font_8 {
                    font: normal normal normal 15px/1.3em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;
                    color: #FFFFFF;
                }

                .font_9 {
                    font: normal normal normal 12px/1.3em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;
                    color: #FFFFFF;
                }

                .font_10 {
                    font: normal normal bold 10px/1.3em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;
                    color: #FFFFFF;
                }
            </style>
            <style type="text/css" data-styleid="theme_colors">
                .color_0 {
                    color: #FFFFFF;
                }

                .backcolor_0 {
                    background-color: #FFFFFF;
                }

                .color_1 {
                    color: #000000;
                }

                .backcolor_1 {
                    background-color: #000000;
                }

                .color_2 {
                    color: #FFFFFF;
                }

                .backcolor_2 {
                    background-color: #FFFFFF;
                }

                .color_3 {
                    color: #FFCB05;
                }

                .backcolor_3 {
                    background-color: #FFCB05;
                }

                .color_4 {
                    color: #ED1C24;
                }

                .backcolor_4 {
                    background-color: #ED1C24;
                }

                .color_5 {
                    color: #0088CB;
                }

                .backcolor_5 {
                    background-color: #0088CB;
                }

                .color_6 {
                    color: #000000;
                }

                .backcolor_6 {
                    background-color: #000000;
                }

                .color_7 {
                    color: #000000;
                }

                .backcolor_7 {
                    background-color: #000000;
                }

                .color_8 {
                    color: #FFFFFF;
                }

                .backcolor_8 {
                    background-color: #FFFFFF;
                }

                .color_9 {
                    color: #000000;
                }

                .backcolor_9 {
                    background-color: #000000;
                }

                .color_10 {
                    color: #FFFFFF;
                }

                .backcolor_10 {
                    background-color: #FFFFFF;
                }

                .color_11 {
                    color: #000000;
                }

                .backcolor_11 {
                    background-color: #000000;
                }

                .color_12 {
                    color: #333333;
                }

                .backcolor_12 {
                    background-color: #333333;
                }

                .color_13 {
                    color: #666666;
                }

                .backcolor_13 {
                    background-color: #666666;
                }

                .color_14 {
                    color: #999999;
                }

                .backcolor_14 {
                    background-color: #999999;
                }

                .color_15 {
                    color: #FFFFFF;
                }

                .backcolor_15 {
                    background-color: #FFFFFF;
                }

                .color_16 {
                    color: #272727;
                }

                .backcolor_16 {
                    background-color: #272727;
                }

                .color_17 {
                    color: #4E4E4E;
                }

                .backcolor_17 {
                    background-color: #4E4E4E;
                }

                .color_18 {
                    color: #7A7A7A;
                }

                .backcolor_18 {
                    background-color: #7A7A7A;
                }

                .color_19 {
                    color: #A6A6A6;
                }

                .backcolor_19 {
                    background-color: #A6A6A6;
                }

                .color_20 {
                    color: #D2D2D2;
                }

                .backcolor_20 {
                    background-color: #D2D2D2;
                }

                .color_21 {
                    color: #4A0105;
                }

                .backcolor_21 {
                    background-color: #4A0105;
                }

                .color_22 {
                    color: #B6050D;
                }

                .backcolor_22 {
                    background-color: #B6050D;
                }

                .color_23 {
                    color: #E0040F;
                }

                .backcolor_23 {
                    background-color: #E0040F;
                }

                .color_24 {
                    color: #EA777D;
                }

                .backcolor_24 {
                    background-color: #EA777D;
                }

                .color_25 {
                    color: #F4A4A8;
                }

                .backcolor_25 {
                    background-color: #F4A4A8;
                }

                .color_26 {
                    color: #202927;
                }

                .backcolor_26 {
                    background-color: #202927;
                }

                .color_27 {
                    color: #40524F;
                }

                .backcolor_27 {
                    background-color: #40524F;
                }

                .color_28 {
                    color: #607C77;
                }

                .backcolor_28 {
                    background-color: #607C77;
                }

                .color_29 {
                    color: #81A59F;
                }

                .backcolor_29 {
                    background-color: #81A59F;
                }

                .color_30 {
                    color: #BBD2CE;
                }

                .backcolor_30 {
                    background-color: #BBD2CE;
                }

                .color_31 {
                    color: #2B0D1E;
                }

                .backcolor_31 {
                    background-color: #2B0D1E;
                }

                .color_32 {
                    color: #561B3C;
                }

                .backcolor_32 {
                    background-color: #561B3C;
                }

                .color_33 {
                    color: #80546D;
                }

                .backcolor_33 {
                    background-color: #80546D;
                }

                .color_34 {
                    color: #AA8499;
                }

                .backcolor_34 {
                    background-color: #AA8499;
                }

                .color_35 {
                    color: #D4B0C4;
                }

                .backcolor_35 {
                    background-color: #D4B0C4;
                }
            </style>
        </div><div id="CSS_CONTAINER"></div><div data-aid="stylesContainer">
            <style type="text/css" data-styleid="style-k1qfxbky">
                .style-k1qfxbkyitemsContainer {
                    width: calc(100% - 0px);
                    height: calc(100% - 0px);
                    white-space: nowrap;
                    display: inline-block;
                    overflow: visible;
                    position: absolute;
                }

                .style-k1qfxbkymoreContainer {
                    overflow: visible;
                    display: inherit;
                    white-space: nowrap;
                    width: auto;
                    background-color: rgba(255, 255, 255, 1);
                    border-radius: 0;
                    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
                }

                .style-k1qfxbkydropWrapper {
                    z-index: 99999;
                    display: block;
                    opacity: 1;
                    visibility: hidden;
                    position: absolute;
                    margin-top: 7px;
                }

                .style-k1qfxbky > nav {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }

                .style-k1qfxbkydropWrapper[data-dropMode="dropUp"] {
                    margin-top: 0;
                    margin-bottom: 7px;
                }

                .style-k1qfxbkynavContainer_with-validation-indication select:not([data-preview~="focus"]):invalid {
                    border-width: 2px;
                    border-style: solid;
                    border-color: rgba(249, 249, 249, 1);
                    background-color: rgba(255, 255, 255, 1);
                }

                .style-k1qfxbkynavContainer {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -webkit-flex-direction: column;
                    flex-direction: column;
                }

                    .style-k1qfxbkynavContainer select {
                        border-radius: 0;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
                        font: normal normal normal 19px/1.4em tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;
                        background-color: rgba(255, 255, 255, 1);
                        color: #000000;
                        border-style: solid;
                        border-color: rgba(0, 0, 0, 0.2);
                        border-width: 1px;
                        border-left-width: 0px;
                        border-right-width: 0px;
                        margin: 0;
                        padding: 0 45px;
                        cursor: pointer;
                        position: relative;
                        max-width: 100%;
                        min-width: 100%;
                        min-height: 10px;
                        height: 100%;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        display: block;
                    }

                        .style-k1qfxbkynavContainer select option {
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            color: #44474D;
                            background-color: #FFFFFF;
                        }

                        .style-k1qfxbkynavContainer select.style-k1qfxbkynavContainer_placeholder-style {
                            color: #FFFFFF;
                        }

                        .style-k1qfxbkynavContainer select.style-k1qfxbkynavContainer_extended-placeholder-style {
                            color: #888888;
                        }

                        .style-k1qfxbkynavContainer select:-moz-focusring {
                            color: transparent;
                            text-shadow: 0 0 0 #000;
                        }

                        .style-k1qfxbkynavContainer select::-ms-expand {
                            display: none;
                        }

                        .style-k1qfxbkynavContainer select:focus::-ms-value {
                            background: transparent;
                        }

                        .style-k1qfxbkynavContainer select:not(.style-k1qfxbkynavContainer_mobileCollection):hover, .style-k1qfxbkynavContainer select:not(.style-k1qfxbkynavContainer_mobileCollection)[data-preview~="hover"] {
                            border-width: 2px;
                            border-style: solid;
                            border-color: rgba(249, 249, 249, 1);
                            background-color: rgba(255, 255, 255, 1);
                        }

                        .style-k1qfxbkynavContainer select:not(.style-k1qfxbkynavContainer_mobileCollection):focus, .style-k1qfxbkynavContainer select:not(.style-k1qfxbkynavContainer_mobileCollection)[data-preview~="focus"] {
                            border-width: 2px;
                            border-style: solid;
                            border-color: rgba(249, 249, 249, 1);
                            background-color: rgba(255, 255, 255, 1);
                        }

                        .style-k1qfxbkynavContainer select:not(.style-k1qfxbkynavContainer_mobileCollection)[data-error="true"], .style-k1qfxbkynavContainer select:not(.style-k1qfxbkynavContainer_mobileCollection)[data-preview~="error"] {
                            border-width: 2px;
                            border-style: solid;
                            border-color: rgba(249, 249, 249, 1);
                            background-color: rgba(255, 255, 255, 1);
                        }

                        .style-k1qfxbkynavContainer select:not(.style-k1qfxbkynavContainer_mobileCollection):disabled, .style-k1qfxbkynavContainer select:not(.style-k1qfxbkynavContainer_mobileCollection)[data-disabled="true"], .style-k1qfxbkynavContainer select:not(.style-k1qfxbkynavContainer_mobileCollection)[data-preview~="disabled"] {
                            border-width: 2px;
                            border-color: rgba(204, 204, 204, 1);
                            color: #FFFFFF;
                            background-color: rgba(204, 204, 204, 1);
                        }

                            .style-k1qfxbkynavContainer select:not(.style-k1qfxbkynavContainer_mobileCollection):disabled + .style-k1qfxbkynavContainerarrow, .style-k1qfxbkynavContainer select:not(.style-k1qfxbkynavContainer_mobileCollection)[data-disabled="true"] + .style-k1qfxbkynavContainerarrow, .style-k1qfxbkynavContainer select:not(.style-k1qfxbkynavContainer_mobileCollection)[data-preview~="disabled"] + .style-k1qfxbkynavContainerarrow {
                                border-width: 2px;
                                border-color: rgba(204, 204, 204, 1);
                                color: #FFFFFF;
                                border: none;
                            }

                .style-k1qfxbkynavContainerarrow {
                    position: absolute;
                    pointer-events: none;
                    top: 0;
                    bottom: 0;
                    box-sizing: border-box;
                    padding-left: 20px;
                    padding-right: 20px;
                    height: inherit;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    border-style: solid;
                    border-color: rgba(0, 0, 0, 0.2);
                    border-left-width: 1px;
                }

                    .style-k1qfxbkynavContainerarrow .style-k1qfxbkynavContainer_svg_container {
                        width: 12px;
                    }

                        .style-k1qfxbkynavContainerarrow .style-k1qfxbkynavContainer_svg_container svg {
                            height: 100%;
                            fill: rgba(51, 51, 51, 1);
                        }

                .style-k1qfxbkynavContainer_left-direction {
                    text-align-last: left;
                }

                    .style-k1qfxbkynavContainer_left-direction .style-k1qfxbkynavContainerarrow, .style-k1qfxbkynavContainer_left-direction select:hover + .style-k1qfxbkynavContainerarrow, .style-k1qfxbkynavContainer_left-direction select[data-preview~="hover"] + .style-k1qfxbkynavContainerarrow, .style-k1qfxbkynavContainer_left-direction select:focus + .style-k1qfxbkynavContainerarrow, .style-k1qfxbkynavContainer_left-direction select[data-preview~="focus"] + .style-k1qfxbkynavContainerarrow, .style-k1qfxbkynavContainer_left-direction[data-preview~="focus"] .style-k1qfxbkynavContainerarrow, .style-k1qfxbkynavContainer_left-direction select[data-error="true"] + .style-k1qfxbkynavContainerarrow, .style-k1qfxbkynavContainer_left-direction select[data-preview~="error"] + .style-k1qfxbkynavContainerarrow {
                        border-right: 0;
                    }

                    .style-k1qfxbkynavContainer_left-direction .style-k1qfxbkynavContainerarrow {
                        right: 0;
                        border-left-width: 1px;
                    }

                .style-k1qfxbkynavContainer_right-direction {
                    text-align-last: right;
                    direction: rtl;
                }

                    .style-k1qfxbkynavContainer_right-direction .style-k1qfxbkynavContainerarrow, .style-k1qfxbkynavContainer_right-direction select:hover + .style-k1qfxbkynavContainerarrow, .style-k1qfxbkynavContainer_right-direction select[data-preview~="hover"] + .style-k1qfxbkynavContainerarrow, .style-k1qfxbkynavContainer_right-direction select:focus + .style-k1qfxbkynavContainerarrow, .style-k1qfxbkynavContainer_right-direction select[data-preview~="focus"] + .style-k1qfxbkynavContainerarrow, .style-k1qfxbkynavContainer_right-direction[data-preview~="focus"] .style-k1qfxbkynavContainerarrow, .style-k1qfxbkynavContainer_right-direction select[data-error="true"] + .style-k1qfxbkynavContainerarrow, .style-k1qfxbkynavContainer_right-direction select[data-preview~="error"] + .style-k1qfxbkynavContainerarrow {
                        border-left: 0;
                    }

                    .style-k1qfxbkynavContainer_right-direction .style-k1qfxbkynavContainerarrow {
                        left: 0;
                        border-right-width: 1px;
                    }

                .style-k1qfxbkynavContainer_center-direction {
                    text-align-last: left;
                    text-align-last: center;
                }

                    .style-k1qfxbkynavContainer_center-direction .style-k1qfxbkynavContainerarrow, .style-k1qfxbkynavContainer_center-direction select:hover + .style-k1qfxbkynavContainerarrow, .style-k1qfxbkynavContainer_center-direction select[data-preview~="hover"] + .style-k1qfxbkynavContainerarrow, .style-k1qfxbkynavContainer_center-direction select:focus + .style-k1qfxbkynavContainerarrow, .style-k1qfxbkynavContainer_center-direction select[data-preview~="focus"] + .style-k1qfxbkynavContainerarrow, .style-k1qfxbkynavContainer_center-direction[data-preview~="focus"] .style-k1qfxbkynavContainerarrow, .style-k1qfxbkynavContainer_center-direction select[data-error="true"] + .style-k1qfxbkynavContainerarrow, .style-k1qfxbkynavContainer_center-direction select[data-preview~="error"] + .style-k1qfxbkynavContainerarrow {
                        border-right: 0;
                    }

                    .style-k1qfxbkynavContainer_center-direction .style-k1qfxbkynavContainerarrow {
                        right: 0;
                        border-left-width: 1px;
                    }

                .style-k1qfxbkynavContainer_mobileMenuContainer {
                    border: 0;
                }

                    .style-k1qfxbkynavContainer_mobileMenuContainer .style-k1qfxbkynavContainerarrow .style-k1qfxbkynavContainer_svg_container .style-k1qfxbkynavContainericon {
                        fill: #000000;
                    }

                .style-k1qfxbkynavContainerlabel {
                    font: normal normal normal 15px/1.3em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;
                    color: #FFFFFF;
                    word-break: break-word;
                    display: inline-block;
                    line-height: 1;
                }

                .style-k1qfxbkynavContainer_required .style-k1qfxbkynavContainerlabel::after {
                    content: " *";
                    color: transparent;
                }

                .style-k1qfxbkynavContainer_selector-wrapper {
                    -webkit-box-flex: 1;
                    -webkit-flex: 1;
                    flex: 1;
                    position: relative;
                }

                .style-k1qfxbkyrepeaterButton {
                    height: 100%;
                    position: relative;
                    box-sizing: border-box;
                    display: inline-block;
                    cursor: pointer;
                    font: normal normal normal 19px/1.4em tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;
                }

                    .style-k1qfxbkyrepeaterButton[data-state~="header"] a, .style-k1qfxbkyrepeaterButton[data-state~="header"] div {
                        cursor: default !important;
                    }

                .style-k1qfxbkyrepeaterButtonlinkElement {
                    display: inline-block;
                    height: 100%;
                    width: 100%;
                }

                .style-k1qfxbkyrepeaterButton_gapper {
                    padding: 0 5px;
                }

                .style-k1qfxbkyrepeaterButtonlabel {
                    display: inline-block;
                    padding: 0 10px;
                    color: #000000;
                    transition: color 0.4s ease 0s;
                }

                .style-k1qfxbkyrepeaterButton[data-state~="drop"] {
                    width: 100%;
                    display: block;
                }

                    .style-k1qfxbkyrepeaterButton[data-state~="drop"] .style-k1qfxbkyrepeaterButtonlabel {
                        padding: 0 .5em;
                    }

                .style-k1qfxbkyrepeaterButton[data-state~="over"] .style-k1qfxbkyrepeaterButtonlabel, .style-k1qfxbkyrepeaterButton[data-preview~="hover"] .style-k1qfxbkyrepeaterButtonlabel {
                    color: #CFDAE8;
                    transition: color 0.4s ease 0s;
                }

                .style-k1qfxbkyrepeaterButton[data-state~="selected"] .style-k1qfxbkyrepeaterButtonlabel, .style-k1qfxbkyrepeaterButton[data-preview~="active"] .style-k1qfxbkyrepeaterButtonlabel {
                    color: #F4DBD3;
                    transition: color 0.4s ease 0s;
                }
            </style>
            <style type="text/css" data-styleid="style-jtg1p2vz">
                .style-jtg1p2vz {
                    box-sizing: border-box;
                    border-top: 1px solid rgba(0, 0, 0, 1);
                    height: 0;
                }
            </style>
            <style type="text/css" data-styleid="fc1">
                .fc1screenWidthBackground {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }

                .fc1[data-state~="fixedPosition"] {
                    position: fixed !important;
                    left: auto !important;
                    z-index: 50;
                }

                    .fc1[data-state~="fixedPosition"].fc1_footer {
                        top: auto;
                        bottom: 0;
                    }

                .fc1bg {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }

                .fc1[data-is-absolute-layout="true"] > .fc1centeredContent {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }

                    .fc1[data-is-absolute-layout="true"] > .fc1centeredContent > .fc1inlineContent {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                    }
            </style>
            <style type="text/css" data-styleid="siteBackground">
                .siteBackground {
                    width: 100%;
                    position: absolute;
                }

                .siteBackgroundbgBeforeTransition {
                    position: absolute;
                    top: 0;
                }

                .siteBackgroundbgAfterTransition {
                    position: absolute;
                    top: 0;
                }
            </style>
            <style type="text/css" data-styleid="style-jtg1dww8">
                .style-jtg1dww8screenWidthBackground {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }

                .style-jtg1dww8[data-state~="fixedPosition"] {
                    position: fixed !important;
                    left: auto !important;
                    z-index: 50;
                }

                    .style-jtg1dww8[data-state~="fixedPosition"].style-jtg1dww8_footer {
                        top: auto;
                        bottom: 0;
                    }

                .style-jtg1dww8bg {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }

                .style-jtg1dww8[data-is-absolute-layout="true"] > .style-jtg1dww8centeredContent {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }

                    .style-jtg1dww8[data-is-absolute-layout="true"] > .style-jtg1dww8centeredContent > .style-jtg1dww8inlineContent {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                    }
            </style>
            <style type="text/css" data-styleid="style-k3lfkk1c">
                .style-k3lfkk1cscreenWidthBackground {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }

                .style-k3lfkk1c[data-state~="fixedPosition"] {
                    position: fixed !important;
                    left: auto !important;
                    z-index: 50;
                }

                    .style-k3lfkk1c[data-state~="fixedPosition"].style-k3lfkk1c_footer {
                        top: auto;
                        bottom: 0;
                    }

                .style-k3lfkk1cbg {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }

                .style-k3lfkk1c[data-is-absolute-layout="true"] > .style-k3lfkk1ccenteredContent {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }

                    .style-k3lfkk1c[data-is-absolute-layout="true"] > .style-k3lfkk1ccenteredContent > .style-k3lfkk1cinlineContent {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                    }
            </style>
            <style type="text/css" data-styleid="txtNew">
                .txtNew {
                    word-wrap: break-word;
                    text-align: start;
                }

                .txtNew_override-left * {
                    text-align: left !important;
                }

                .txtNew_override-right * {
                    text-align: right !important;
                }

                .txtNew_override-center * {
                    text-align: center !important;
                }

                .txtNew_override-justify * {
                    text-align: justify !important;
                }

                .txtNew > * {
                    pointer-events: auto;
                }

                .txtNew li {
                    font-style: inherit;
                    font-weight: inherit;
                    line-height: inherit;
                    letter-spacing: normal;
                }

                .txtNew ol, .txtNew ul {
                    padding-left: 1.3em;
                    padding-right: 0;
                    margin-left: 0.5em;
                    margin-right: 0;
                    line-height: normal;
                    letter-spacing: normal;
                }

                .txtNew ul {
                    list-style-type: disc;
                }

                .txtNew ol {
                    list-style-type: decimal;
                }

                    .txtNew ul ul, .txtNew ol ul {
                        list-style-type: circle;
                    }

                        .txtNew ul ul ul, .txtNew ol ul ul {
                            list-style-type: square;
                        }

                    .txtNew ul ol ul, .txtNew ol ol ul {
                        list-style-type: square;
                    }

                    .txtNew ul[dir="rtl"], .txtNew ol[dir="rtl"] {
                        padding-left: 0;
                        padding-right: 1.3em;
                        margin-left: 0;
                        margin-right: 0.5em;
                    }

                        .txtNew ul[dir="rtl"] ul, .txtNew ul[dir="rtl"] ol, .txtNew ol[dir="rtl"] ul, .txtNew ol[dir="rtl"] ol {
                            padding-left: 0;
                            padding-right: 1.3em;
                            margin-left: 0;
                            margin-right: 0.5em;
                        }

                .txtNew p {
                    margin: 0;
                    line-height: normal;
                    letter-spacing: normal;
                }

                .txtNew h1 {
                    margin: 0;
                    line-height: normal;
                    letter-spacing: normal;
                }

                .txtNew h2 {
                    margin: 0;
                    line-height: normal;
                    letter-spacing: normal;
                }

                .txtNew h3 {
                    margin: 0;
                    line-height: normal;
                    letter-spacing: normal;
                }

                .txtNew h4 {
                    margin: 0;
                    line-height: normal;
                    letter-spacing: normal;
                }

                .txtNew h5 {
                    margin: 0;
                    line-height: normal;
                    letter-spacing: normal;
                }

                .txtNew h6 {
                    margin: 0;
                    line-height: normal;
                    letter-spacing: normal;
                }

                .txtNew a {
                    color: inherit;
                }
            </style>
            <style type="text/css" data-styleid="p1">
                .p1bg {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }

                .p1[data-state~="mobileView"] .p1bg {
                    left: 10px;
                    right: 10px;
                }

                .p1inlineContent {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
            </style>
            <style type="text/css" data-styleid="style-jtg1dwze">
                .style-jtg1dwze {
                    overflow: hidden;
                }

                    .style-jtg1dwze iframe {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                    }

                        .style-jtg1dwze iframe:-webkit-full-screen {
                            min-height: auto !important;
                        }

                .style-jtg1dwzepreloaderOverlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: #373737;
                    width: 100%;
                    height: 100%;
                }

                .style-jtg1dwzepreloaderOverlaycontent {
                    width: 100%;
                    height: 100%;
                }

                .style-jtg1dwzeunavailableMessageOverlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: #373737;
                    width: 100%;
                    height: 100%;
                }

                .style-jtg1dwzeunavailableMessageOverlaycontent {
                    width: 100%;
                    height: 100%;
                    background: rgba(255, 255, 255, 0.9);
                    font-size: 0;
                    margin-top: 5px;
                }

                .style-jtg1dwzeunavailableMessageOverlaytextContainer {
                    color: #373737;
                    font-family: "Helvetica Neue", "HelveticaNeueW01-55Roma", "HelveticaNeueW02-55Roma", "HelveticaNeueW10-55Roma", Helvetica, Arial, sans-serif;
                    font-size: 14px;
                    display: inline-block;
                    vertical-align: middle;
                    width: 100%;
                    margin-top: 10px;
                    text-align: center;
                }

                .style-jtg1dwzeunavailableMessageOverlayreloadButton {
                    display: inline-block;
                }

                .style-jtg1dwzeunavailableMessageOverlay a {
                    color: #0099FF;
                    text-decoration: underline;
                    cursor: pointer;
                }

                .style-jtg1dwzeunavailableMessageOverlayiconContainer {
                    display: none;
                }

                .style-jtg1dwzeunavailableMessageOverlaydismissButton {
                    display: none;
                }

                .style-jtg1dwzeunavailableMessageOverlaytextTitle {
                    font-family: "Helvetica Neue", "HelveticaNeueW01-55Roma", "HelveticaNeueW02-55Roma", "HelveticaNeueW10-55Roma", Helvetica, Arial, sans-serif;
                    display: none;
                }

                .style-jtg1dwzeunavailableMessageOverlay[data-state~="hideIframe"] .style-jtg1dwzeunavailableMessageOverlay_buttons {
                    opacity: 1;
                }

                .style-jtg1dwzeunavailableMessageOverlay[data-state~="hideOverlay"] {
                    display: none;
                }
            </style>
            <style type="text/css" data-styleid="wp2">
                .wp2_zoomedin {
                    cursor: url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/cursor_zoom_out.png), url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/cursor_zoom_out.cur), auto;
                    overflow: hidden;
                    display: block;
                }

                .wp2_zoomedout {
                    cursor: url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/cursor_zoom_in.png), url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/cursor_zoom_in.cur), auto;
                }

                .wp2link {
                    display: block;
                    overflow: hidden;
                }

                .wp2img {
                    overflow: hidden;
                }

                .wp2[data-is-responsive=true] .wp2link, .wp2[data-is-responsive=true] .wp2img, .wp2[data-is-responsive=true] wix-image {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }

                .wp2imgimage {
                    position: static;
                    box-shadow: #000 0 0 0;
                    user-select: none;
                }
            </style>
            <style type="text/css" data-styleid="gm1">
                .gm1[data-state~="squared"], .gm1[data-state~="squared"] .gm1mapContainer {
                    border-radius: 0;
                }

                .gm1mapContainer {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
            </style>
            <style type="text/css" data-styleid="style-jw92a04e">
                .style-jw92a04eiframe {
                    overflow: hidden;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: block;
                }

                .style-jw92a04e[data-state~="iframeNotShown"] .style-jw92a04eiframe {
                    display: none;
                }

                .style-jw92a04e[data-state~="iframeRenderedInvisible"] .style-jw92a04eiframe {
                    visibility: hidden;
                }
            </style>
            <style type="text/css" data-styleid="style-jw97q7821">
                .style-jw97q7821 {
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    -webkit-user-drag: none;
                    -moz-user-drag: none;
                    -ms-user-drag: none;
                    user-drag: none;
                    -webkit-user-modify: ready-only;
                    -moz-user-modify: ready-only;
                    -ms-user-modify: ready-only;
                    user-modify: ready-only;
                    border-radius: 0;
                    overflow: hidden;
                    background: rgba(47, 46, 46, 1);
                }

                .style-jw97q7821_border {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    border-radius: 0;
                    border: 0px solid rgba(47, 46, 46, 1);
                    pointer-events: none;
                    background: none !important;
                }

                .style-jw97q7821itemsContainer {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    border-radius: 0;
                    overflow: hidden;
                    -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
                }

                .style-jw97q7821_btn {
                    transition: opacity 0.5s ease 0s;
                    opacity: 0.4;
                    height: 70px;
                    background: url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/arrows_white_new3.png) no-repeat;
                    width: 45px;
                    position: absolute;
                    top: 50%;
                    margin-top: -35px;
                    cursor: pointer;
                }

                .style-jw97q7821[data-state~="mobile"] .style-jw97q7821_btn {
                    opacity: 1;
                }

                .style-jw97q7821buttonPrev {
                    left: 20px;
                    background-position: 0 0;
                }

                .style-jw97q7821buttonNext {
                    right: 20px;
                    background-position: 100% 0;
                }

                .style-jw97q7821_helpers {
                    transition: opacity 0.5s ease 0s;
                    opacity: 0;
                    position: absolute;
                    right: 0px;
                    bottom: 0px;
                    padding: 0 10px 10px 0;
                    width: 60px;
                    text-align: right;
                }

                .style-jw97q7821counter {
                    display: inline-block;
                    color: #FFFFFF;
                    font-family: arial, helvetica,sans-serif;
                    font-size: 12px;
                    padding-left: 5px;
                }

                .style-jw97q7821autoplay {
                    display: inline-block;
                    padding-left: 10px;
                    width: 20px;
                    min-height: 10px;
                    position: relative;
                    text-align: center;
                }

                    .style-jw97q7821autoplay > span {
                        display: inline-block;
                        position: relative;
                        z-index: 0;
                    }

                .style-jw97q7821[data-state~="autoplayOff"] .style-jw97q7821autoplay > span {
                    border: 5px solid transparent;
                    border-left: 5px solid #FFFFFF;
                    width: 0;
                    height: 0;
                }

                .style-jw97q7821[data-state~="autoplayOn"] .style-jw97q7821autoplay > span {
                    border-left: 2px solid #FFFFFF;
                    border-right: 2px solid #FFFFFF;
                    height: 10px;
                    width: 1px;
                    margin-right: 5px;
                }

                .style-jw97q7821_buttons {
                    transition: opacity 0.5s ease 0s;
                    opacity: 0;
                }

                .style-jw97q7821[data-state~="mobile"] .style-jw97q7821_buttons {
                    opacity: 1;
                }

                .style-jw97q7821:hover > .style-jw97q7821_buttons {
                    opacity: 1;
                }

                .style-jw97q7821:hover > .style-jw97q7821_helpers {
                    opacity: 1;
                }

                .style-jw97q7821:hover .style-jw97q7821_pnl {
                    opacity: 1;
                }

                .style-jw97q7821[data-state~="showTextPanel"] .style-jw97q7821_pnl {
                    opacity: 1;
                }

                .style-jw97q7821_btn:hover {
                    opacity: 1;
                }

                .style-jw97q7821[data-state~="touchRollOver"] .style-jw97q7821_buttons {
                    opacity: 1;
                }

                .style-jw97q7821[data-state~="touchRollOver"] .style-jw97q7821_helpers {
                    opacity: 1;
                }

                .style-jw97q7821[data-state~="touchRollOver"] .style-jw97q7821_pnl {
                    opacity: 1;
                }

                .style-jw97q7821[data-state~="touchRollOver"] .style-jw97q7821_btn {
                    opacity: 1;
                }

                .style-jw97q7821[data-state~="showButtons"] .style-jw97q7821_buttons {
                    opacity: 1;
                }

                .style-jw97q7821[data-text-alignment="right"] .style-jw97q7821imageItempanel {
                    padding-right: 10px;
                    padding-left: 100px;
                }

                .style-jw97q7821[data-text-alignment="right"] .style-jw97q7821_helpers {
                    left: 0px;
                    right: initial;
                    text-align: left;
                }

                .style-jw97q7821[data-text-alignment="right"][data-state~="hidePlayButton"] .style-jw97q7821autoplay {
                    display: none;
                }

                .style-jw97q7821imageItemtitle, .style-jw97q7821imageItemdescription {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: pre-line;
                }

                .style-jw97q7821imageItemimageWrapper {
                    position: absolute;
                }

                .style-jw97q7821imageItempanel {
                    border-radius: 0;
                    background-color: rgba(0, 0, 0, 0.7);
                    transition: opacity 0.5s ease 0s;
                    opacity: 0;
                    position: absolute;
                    right: 0px;
                    left: 0px;
                    bottom: 0px;
                    padding: 10px 100px 10px 10px;
                    min-height: 18px;
                    border-top-left-radius: 0 !important;
                    border-top-right-radius: 0 !important;
                }

                .style-jw97q7821imageItemzoom {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    left: 0px;
                }

                .style-jw97q7821imageItemimage {
                    border-radius: 0;
                }

                .style-jw97q7821imageItemtitle {
                    font: normal normal normal 16px/1.4em futura-lt-w01-book,sans-serif;
                    color: #FFFFFF;
                }

                .style-jw97q7821imageItemdescription {
                    font: normal normal normal 14px/1.4em futura-lt-w01-light,sans-serif;
                    color: #FFFFFF;
                }

                .style-jw97q7821imageItemlink {
                    font: normal normal normal 14px/1.4em futura-lt-w01-light,sans-serif;
                    color: #FFFFFF;
                }

                .style-jw97q7821imageItem[data-state~="link"] .style-jw97q7821imageItemlink {
                    text-decoration: underline;
                    cursor: pointer;
                    font: normal normal normal 14px/1.4em futura-lt-w01-light,sans-serif;
                    color: #FFFFFF;
                }

                .style-jw97q7821imageItem[data-state~="showPanel"] .style-jw97q7821imageItempanel {
                    opacity: 1;
                }

                .style-jw97q7821imageItem[data-state~="notShowPanel"] .style-jw97q7821imageItempanel {
                    opacity: 0;
                }

                .style-jw97q7821imageItem[data-state~="transOut"] .style-jw97q7821imageItempanel {
                    opacity: 0;
                }

                .style-jw97q7821imageItem[data-state~="transIn"] .style-jw97q7821imageItempanel {
                    opacity: 0;
                }

                .style-jw97q7821imageItemimageimage {
                    position: static;
                    box-shadow: #000 0 0 0;
                    user-select: none;
                }
            </style>
            <style type="text/css" data-styleid="style-jw980l2q">
                .style-jw980l2qiframe {
                    overflow: hidden;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: block;
                }

                .style-jw980l2q[data-state~="iframeNotShown"] .style-jw980l2qiframe {
                    display: none;
                }

                .style-jw980l2q[data-state~="iframeRenderedInvisible"] .style-jw980l2qiframe {
                    visibility: hidden;
                }
            </style>
            <style type="text/css" data-styleid="style-jw98gbqw">
                .style-jw98gbqwiframe {
                    overflow: hidden;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: block;
                }

                .style-jw98gbqw[data-state~="iframeNotShown"] .style-jw98gbqwiframe {
                    display: none;
                }

                .style-jw98gbqw[data-state~="iframeRenderedInvisible"] .style-jw98gbqwiframe {
                    visibility: hidden;
                }
            </style>
            <style type="text/css" data-styleid="style-jw97ajm6">
                .style-jw97ajm6bg {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }

                .style-jw97ajm6[data-state~="mobileView"] .style-jw97ajm6bg {
                    left: 10px;
                    right: 10px;
                }

                .style-jw97ajm6inlineContent {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
            </style>
            <style type="text/css" data-styleid="style-jw98fuia">
                .style-jw98fuiabg {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }

                .style-jw98fuia[data-state~="mobileView"] .style-jw98fuiabg {
                    left: 10px;
                    right: 10px;
                }

                .style-jw98fuiainlineContent {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
            </style>
            <style type="text/css" data-styleid="style-k1qfy46m">
                .style-k1qfy46mbg {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }

                .style-k1qfy46m[data-state~="mobileView"] .style-k1qfy46mbg {
                    left: 10px;
                    right: 10px;
                }

                .style-k1qfy46minlineContent {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
            </style>
        </div><div class="noop" style="position:relative">
            <div id="SCROLL_TO_TOP" tabindex="-1" aria-label="top of page" role="region" style="height:0"></div><div id="FONTS_CONTAINER"></div><div id="SITE_BACKGROUND" style="top: 0px; min-height: calc(100vh - 0px); height: 1084px; width: 980px;" class="siteBackground"><div id="SITE_BACKGROUND_previous_noPrev" data-position="absolute" data-align="" data-fitting="" class="siteBackgroundprevious" style="width: 100%; height: 100%;"><div id="SITE_BACKGROUNDpreviousImage" class="siteBackgroundpreviousImage"></div><div id="SITE_BACKGROUNDpreviousVideo" class="siteBackgroundpreviousVideo"></div><div id="SITE_BACKGROUND_previousOverlay_noPrev" class="siteBackgroundpreviousOverlay"></div></div><div id="SITE_BACKGROUND_current_mainPage_j8ltwlk51_bg" style="top: 0px; background-color: rgb(255, 255, 255); position: absolute; width: 100%; height: 100%;" data-position="absolute" data-align="top" data-fitting="legacy_tile" class="siteBackgroundcurrent"><div id="SITE_BACKGROUND_currentImage_mainPage_j8ltwlk51_bg" style="position: absolute; top: 0px; height: 100%; width: 100%;" data-type="bgimage" data-height="100%" class="siteBackgroundcurrentImage" data-image-css="{&quot;backgroundSize&quot;:&quot;&quot;,&quot;backgroundPosition&quot;:&quot;&quot;,&quot;backgroundRepeat&quot;:&quot;&quot;}"></div><div id="SITE_BACKGROUNDcurrentVideo" class="siteBackgroundcurrentVideo"></div><div id="SITE_BACKGROUND_currentOverlay_mainPage_j8ltwlk51_bg" style="position:absolute;top:0;width:100%;height:100%" class="siteBackgroundcurrentOverlay"></div></div></div><div id="SITE_ROOT" class="SITE_ROOT" style="width:100%;min-width:980px;padding-bottom:0;top:0" aria-hidden="false">
                <div id="masterPage" class="mesh-layout" data-mesh-layout="grid">
                    <header data-is-absolute-layout="false" data-is-mobile="false" data-state="transition-allowed" data-site-width="980" data-header-top="0" style="position:relative;margin-top:0;left:0;margin-left:0;width:100%;min-width:980px;top:;bottom:;right:" class="style-k3lfkk1c" id="SITE_HEADER">
                        <div style="left:0;width:100%" id="SITE_HEADERscreenWidthBackground" class="style-k3lfkk1cscreenWidthBackground"></div><div id="SITE_HEADERcenteredContent" class="style-k3lfkk1ccenteredContent">
                            <div style="margin-left:calc((100% - 980px) / 2);width:980px" id="SITE_HEADERbg" class="style-k3lfkk1cbg"></div><div id="SITE_HEADERinlineContent" class="style-k3lfkk1cinlineContent">
                                <style id="SITE_HEADER-mesh-styles">

                                    #SITE_HEADERinlineContent {
                                        height: auto;
                                        width: 100%;
                                        position: relative;
                                    }

                                    #SITE_HEADERinlineContent-gridWrapper {
                                        pointer-events: none;
                                    }

                                    #SITE_HEADERinlineContent-gridContainer {
                                        position: static;
                                        display: grid;
                                        height: auto;
                                        width: 100%;
                                        min-height: auto;
                                        grid-template-rows: min-content min-content 1fr;
                                        grid-template-columns: 100%;
                                    }

                                    #comp-j8g0whhd {
                                        position: relative;
                                        margin: 19px 0px 0 calc((100% - 980px) * 0.5);
                                        left: 417px;
                                        grid-area: 1 / 1 / 2 / 2;
                                        justify-self: start;
                                        align-self: start;
                                    }

                                    #SITE_STRUCTURE_WRichText_0 {
                                        position: relative;
                                        margin: 0px 0px 0 calc((100% - 980px) * 0.5);
                                        left: 222px;
                                        grid-area: 2 / 1 / 3 / 2;
                                        justify-self: start;
                                        align-self: start;
                                    }

                                    #DrpDwnMn0 {
                                        position: relative;
                                        margin: 0px 0px 0px calc((100% - 980px) * 0.5);
                                        left: 114px;
                                        grid-area: 3 / 1 / 4 / 2;
                                        justify-self: start;
                                        align-self: start;
                                    }

                                    #SITE_HEADERcenteredContent {
                                        position: relative;
                                    }

                                    #SITE_HEADERinlineContent-gridContainer > * {
                                        pointer-events: auto;
                                    }

                                    #SITE_HEADERinlineContent-gridContainer > [id$="-rotated-wrapper"] {
                                        pointer-events: none;
                                    }

                                        #SITE_HEADERinlineContent-gridContainer > [id$="-rotated-wrapper"] > * {
                                            pointer-events: auto;
                                        }
                                </style>
                                <div id="SITE_HEADERinlineContent-gridWrapper" data-mesh-internal="true">
                                    <div id="SITE_HEADERinlineContent-gridContainer" data-mesh-internal="true">
                                        <div style="width: 162px; height: 158px;" title="" data-is-responsive="false" data-display-mode="fill" data-content-padding-horizontal="0" data-content-padding-vertical="0" data-exact-height="158" class="wp2" id="comp-j8g0whhd">
                                            <a style="cursor: pointer; width: 162px; height: 158px;" href="https://www.tortyinetolko.com" target="_self" id="comp-j8g0whhdlink" class="wp2link">
                                                <wix-image style="width:162px;height:158px;top:0;left:0" data-has-bg-scroll-effect="" data-image-info="{&quot;imageData&quot;:{&quot;type&quot;:&quot;Image&quot;,&quot;id&quot;:&quot;dataItem-j8g0whiv&quot;,&quot;metaData&quot;:{&quot;pageId&quot;:&quot;masterPage&quot;,&quot;isPreset&quot;:false,&quot;schemaVersion&quot;:&quot;2.0&quot;,&quot;isHidden&quot;:false},&quot;title&quot;:&quot;&quot;,&quot;uri&quot;:&quot;bfc014_0b8f057445b34a9689a8c30a134df16d~mv2_d_2188_2272_s_2.png&quot;,&quot;description&quot;:&quot;&quot;,&quot;width&quot;:2188,&quot;height&quot;:2272,&quot;alt&quot;:&quot;logo_alis1a.png&quot;,&quot;crop&quot;:{&quot;x&quot;:0,&quot;y&quot;:73,&quot;width&quot;:2188,&quot;height&quot;:2125},&quot;name&quot;:&quot;logo_alis1a.png&quot;,&quot;link&quot;:{&quot;type&quot;:&quot;PageLink&quot;,&quot;id&quot;:&quot;dataItem-kcar2vwg&quot;,&quot;metaData&quot;:{&quot;pageId&quot;:&quot;masterPage&quot;,&quot;isPreset&quot;:false,&quot;schemaVersion&quot;:&quot;1.0&quot;,&quot;isHidden&quot;:false},&quot;pageId&quot;:{&quot;type&quot;:&quot;Page&quot;,&quot;id&quot;:&quot;mainPage&quot;,&quot;metaData&quot;:{&quot;pageId&quot;:&quot;masterPage&quot;,&quot;isPreset&quot;:false,&quot;schemaVersion&quot;:&quot;2.0&quot;,&quot;isHidden&quot;:false},&quot;title&quot;:&quot;Главная&quot;,&quot;hideTitle&quot;:true,&quot;icon&quot;:&quot;&quot;,&quot;descriptionSEO&quot;:&quot;&quot;,&quot;metaKeywordsSEO&quot;:&quot;&quot;,&quot;pageTitleSEO&quot;:&quot;Торт на заказ Москва &quot;,&quot;pageUriSEO&quot;:&quot;cakes&quot;,&quot;hidePage&quot;:false,&quot;mobileHidePage&quot;:false,&quot;isMobileLandingPage&quot;:false,&quot;underConstruction&quot;:false,&quot;tpaApplicationId&quot;:0,&quot;pageSecurity&quot;:{&quot;requireLogin&quot;:false},&quot;isPopup&quot;:false,&quot;indexable&quot;:true,&quot;isLandingPage&quot;:false,&quot;pageBackgrounds&quot;:{&quot;desktop&quot;:{&quot;custom&quot;:true,&quot;ref&quot;:{&quot;type&quot;:&quot;BackgroundMedia&quot;,&quot;id&quot;:&quot;mainPage_j8ltwlk51_bg&quot;,&quot;metaData&quot;:{&quot;pageId&quot;:&quot;mainPage&quot;,&quot;isPreset&quot;:false,&quot;schemaVersion&quot;:&quot;2.0&quot;,&quot;isHidden&quot;:false},&quot;color&quot;:&quot;{color_15}&quot;,&quot;alignType&quot;:&quot;top&quot;,&quot;fittingType&quot;:&quot;legacy_tile&quot;,&quot;scrollType&quot;:&quot;fixed&quot;},&quot;isPreset&quot;:true},&quot;mobile&quot;:{&quot;custom&quot;:true,&quot;ref&quot;:{&quot;type&quot;:&quot;BackgroundMedia&quot;,&quot;id&quot;:&quot;customBgImg1goi&quot;,&quot;metaData&quot;:{&quot;pageId&quot;:&quot;mainPage&quot;,&quot;isPreset&quot;:false,&quot;schemaVersion&quot;:&quot;2.0&quot;,&quot;isHidden&quot;:false},&quot;color&quot;:&quot;{color_15}&quot;,&quot;alignType&quot;:&quot;top&quot;,&quot;fittingType&quot;:&quot;legacy_tile&quot;,&quot;scrollType&quot;:&quot;fixed&quot;,&quot;colorOverlay&quot;:&quot;&quot;,&quot;colorOverlayOpacity&quot;:0},&quot;isPreset&quot;:true,&quot;mediaSizing&quot;:&quot;viewport&quot;}},&quot;translationData&quot;:{&quot;uriSEOTranslated&quot;:false},&quot;ogImage&quot;:&quot;&quot;,&quot;ogImageRef&quot;:{&quot;type&quot;:&quot;Image&quot;,&quot;id&quot;:&quot;dataItem-kcaqj6eu&quot;,&quot;metaData&quot;:{&quot;pageId&quot;:&quot;mainPage&quot;,&quot;isPreset&quot;:false,&quot;schemaVersion&quot;:&quot;2.0&quot;,&quot;isHidden&quot;:false},&quot;title&quot;:&quot;&quot;,&quot;uri&quot;:&quot;bfc014_d24445b67fec4e298b3c74e459375c00~mv2.jpeg&quot;,&quot;width&quot;:3456,&quot;height&quot;:4608,&quot;alt&quot;:&quot;&quot;},&quot;advancedSeoData&quot;:&quot;{\&quot;tags\&quot;:[{\&quot;type\&quot;:\&quot;title\&quot;,\&quot;children\&quot;:\&quot;Торт на заказ Москва \&quot;},{\&quot;type\&quot;:\&quot;meta\&quot;,\&quot;props\&quot;:{\&quot;property\&quot;:\&quot;og:image\&quot;,\&quot;content\&quot;:\&quot;bfc014_d24445b67fec4e298b3c74e459375c00~mv2.jpeg\&quot;},\&quot;meta\&quot;:{\&quot;width\&quot;:3456,\&quot;height\&quot;:4608}},{\&quot;type\&quot;:\&quot;meta\&quot;,\&quot;props\&quot;:{\&quot;property\&quot;:\&quot;og:site_name\&quot;,\&quot;content\&quot;:\&quot;cakes\&quot;},\&quot;disabled\&quot;:false}]}&quot;},&quot;target&quot;:&quot;_self&quot;},&quot;displayMode&quot;:&quot;fill&quot;},&quot;containerId&quot;:&quot;comp-j8g0whhd&quot;,&quot;displayMode&quot;:&quot;fill&quot;}" data-has-ssr-src="" data-is-svg="false" data-is-svg-mask="false" id="comp-j8g0whhdimg" class="wp2img" data-src="img/logo.svg">
                                                    <img id="comp-j8g0whhdimgimage" style="object-position:50% 50%;width:162px;height:158px;object-fit:cover" alt="logo_msb" data-type="image" itemprop="image" src="/img/logo.svg">
                                                </wix-image>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header><main tabindex="-1" data-is-mobile="false" data-is-mesh="true" data-site-width="980" style="left:0;margin-left:0;width:100%;min-width:980px;top:0;bottom:;right:;position:" class="fc1" data-state="" id="PAGES_CONTAINER">
                        <div style="left:0" id="PAGES_CONTAINERscreenWidthBackground" class="fc1screenWidthBackground"></div><div style="position:relative" id="PAGES_CONTAINERcenteredContent" class="fc1centeredContent">
                            <div style="display:none" id="PAGES_CONTAINERbg" class="fc1bg"></div><div style="position:relative" id="PAGES_CONTAINERinlineContent" class="fc1inlineContent">
                                <div style="width:100%">
                                    <div data-ismobile="false" data-is-mesh-layout="true" style="height: 100%; left: 0px; position: relative; display: none; max-height: 0px; visibility: hidden; overflow: hidden;" class="p1" id="mainPage">
                                        <div style="margin-left:calc((100% - 980px) / 2);width:980px" id="mainPagebg" class="p1bg"></div><div class="p1inlineContent" id="mainPageinlineContent">
                                            <style id="mainPage-mesh-styles">

                                                #mainPageinlineContent {
                                                    height: auto;
                                                    width: 100%;
                                                    position: relative;
                                                }

                                                #mainPageinlineContent-gridWrapper {
                                                    pointer-events: none;
                                                }

                                                #mainPageinlineContent-gridContainer {
                                                    position: static;
                                                    display: grid;
                                                    height: auto;
                                                    width: 100%;
                                                    min-height: 733px;
                                                    grid-template-rows: 1fr;
                                                    grid-template-columns: 100%;
                                                    padding-bottom: 0px;
                                                    box-sizing: border-box;
                                                }

                                                #comp-j8g0s452 {
                                                    position: relative;
                                                    margin: 18px 0px 0 calc((100% - 980px) * 0.5);
                                                    left: 19px;
                                                    grid-area: 1 / 1 / 2 / 2;
                                                    justify-self: start;
                                                    align-self: start;
                                                }

                                                #mainPagecenteredContent {
                                                    position: relative;
                                                }

                                                #mainPageinlineContent-gridContainer > * {
                                                    pointer-events: auto;
                                                }

                                                #mainPageinlineContent-gridContainer > [id$="-rotated-wrapper"] {
                                                    pointer-events: none;
                                                }

                                                    #mainPageinlineContent-gridContainer > [id$="-rotated-wrapper"] > * {
                                                        pointer-events: auto;
                                                    }
                                            </style><div id="mainPageinlineContent-gridWrapper" data-mesh-internal="true"><div id="mainPageinlineContent-gridContainer" data-mesh-internal="true"><wix-iframe style="width: 941px; height: 1052px; overflow: hidden; min-height: 1052px; min-width: 941px;" data-has-iframe="true" data-src="https://instafeed.codev.wixapps.net/widget?cacheKiller=1594192284895&amp;compId=comp-j8g0s452&amp;consent-policy=%7B%7BconsentPolicy%7D%7D&amp;deviceType=desktop&amp;height=1052&amp;instance=J5h8a7TqCZWIXZ6hsCkxEcGJJOI4TclDjDhCHU8RvhE.eyJpbnN0YW5jZUlkIjoiM2Y4MjY5MTUtMjM2OC00YmE4LWI3MWMtYmM4ZGI4OTQ2Y2IyIiwiYXBwRGVmSWQiOiIxNDYzNTI1Ni1iMTgzLTFjNzEtYTRkMi1mNTUxNzliODBlOGEiLCJtZXRhU2l0ZUlkIjoiMWU1M2Q0ZmUtM2YyOS00MWUwLWFjYzctOWIxYTU4OTE3NjI0Iiwic2lnbkRhdGUiOiIyMDIwLTA3LTA4VDEyOjE3OjA3Ljk1OVoiLCJkZW1vTW9kZSI6ZmFsc2UsImFpZCI6IjM0ZTlhMzJiLTk4OWItNDQzYS04ZGIxLWIzZGVmMWJjM2ZkMCIsImJpVG9rZW4iOiIyMWQxYmRlYi0xYzQxLTBhNDgtMWJkYi0yNzk3ZTAwNTFhOTYiLCJzaXRlT3duZXJJZCI6ImJmYzAxNGQzLTFlNjctNDg5MC05NTk1LWZhNGNiYTgwODlkMSJ9&amp;locale=ru&amp;pageId=mainPage&amp;siteRevision=164&amp;viewMode=site&amp;viewerCompId=comp-j8g0s452&amp;width=941" data-is-tpa="true" data-widget-id="14635280-8c8d-5346-b643-691f84f48973" data-app-definition-id="14635256-b183-1c71-a4d2-f55179b80e8a" id="comp-j8g0s452" class="style-jtg1dwze"><iframe scrolling="no" frameborder="0" allow="autoplay; camera; microphone; geolocation; vr" allowtransparency="true" allowfullscreen="" name="comp-j8g0s452" style="width:941px;height:1052px;min-height:1052px;min-width:941px;display:block;position:absolute;z-index:" title="Instagram Feed" aria-label="Instagram Feed" id="comp-j8g0s452iframe" class="style-jtg1dwzeiframe" src="https://instafeed.codev.wixapps.net/widget?cacheKiller=1594192284895&amp;compId=comp-j8g0s452&amp;deviceType=desktop&amp;height=1052&amp;instance=twLbnbl31xdiuAPU9jj3vBTxQPPbUqPsWrR4s5D0ayE.eyJpbnN0YW5jZUlkIjoiM2Y4MjY5MTUtMjM2OC00YmE4LWI3MWMtYmM4ZGI4OTQ2Y2IyIiwiYXBwRGVmSWQiOiIxNDYzNTI1Ni1iMTgzLTFjNzEtYTRkMi1mNTUxNzliODBlOGEiLCJtZXRhU2l0ZUlkIjoiMWU1M2Q0ZmUtM2YyOS00MWUwLWFjYzctOWIxYTU4OTE3NjI0Iiwic2lnbkRhdGUiOiIyMDIwLTA3LTA4VDEyOjE3OjA4LjEzNVoiLCJkZW1vTW9kZSI6ZmFsc2UsImFpZCI6IjM0ZTlhMzJiLTk4OWItNDQzYS04ZGIxLWIzZGVmMWJjM2ZkMCIsImJpVG9rZW4iOiIyMWQxYmRlYi0xYzQxLTBhNDgtMWJkYi0yNzk3ZTAwNTFhOTYiLCJzaXRlT3duZXJJZCI6ImJmYzAxNGQzLTFlNjctNDg5MC05NTk1LWZhNGNiYTgwODlkMSJ9&amp;locale=ru&amp;pageId=mainPage&amp;siteRevision=164&amp;viewMode=site&amp;viewerCompId=comp-j8g0s452&amp;width=941"></iframe><div id="comp-j8g0s452overlay" class="style-jtg1dwzeoverlay"></div></wix-iframe></div></div>
                                        </div>
                                    </div><div data-ismobile="false" data-is-mesh-layout="true" class="style-k1qfy46m" id="tgnhu" style="height: 100%; left: 0px; position: relative; display: none; max-height: 0px; visibility: hidden; overflow: hidden;">
                                        <div id="tgnhubg" class="style-k1qfy46mbg" style="margin-left: calc((100% - 980px) / 2); width: 980px;"></div><div class="style-k1qfy46minlineContent" id="tgnhuinlineContent">
                                            <style id="tgnhu-mesh-styles">

                                                #tgnhuinlineContent {
                                                    height: auto;
                                                    width: 100%;
                                                    position: relative;
                                                }

                                                #tgnhuinlineContent-gridContainer {
                                                    position: static;
                                                    height: auto;
                                                    width: 100%;
                                                    min-height: 1868px;
                                                    padding-bottom: 0px;
                                                    box-sizing: border-box;
                                                }

                                                #tgnhucenteredContent {
                                                    position: relative;
                                                }

                                                #tgnhuinlineContent-gridWrapper {
                                                    pointer-events: none;
                                                }

                                                #tgnhuinlineContent-gridContainer > * {
                                                    pointer-events: auto;
                                                }

                                                #tgnhuinlineContent-gridContainer > [id$="-rotated-wrapper"] {
                                                    pointer-events: none;
                                                }

                                                    #tgnhuinlineContent-gridContainer > [id$="-rotated-wrapper"] > * {
                                                        pointer-events: auto;
                                                    }
                                            </style><div id="tgnhuinlineContent-gridContainer" data-mesh-internal="true"></div>
                                        </div>
                                    </div><div data-ismobile="false" data-is-mesh-layout="true" class="style-jw98fuia" id="d7fw8" style="height: 100%; left: 0px; position: relative; display: none; max-height: 0px; visibility: hidden; overflow: hidden;">
                                        <div id="d7fw8bg" class="style-jw98fuiabg" style="margin-left: calc((100% - 980px) / 2); width: 980px;"></div><div class="style-jw98fuiainlineContent" id="d7fw8inlineContent">
                                            <style id="d7fw8-mesh-styles">

                                                #d7fw8inlineContent {
                                                    height: auto;
                                                    width: 100%;
                                                    position: relative;
                                                }

                                                #d7fw8inlineContent-gridContainer {
                                                    position: static;
                                                    height: auto;
                                                    width: 100%;
                                                    min-height: 500px;
                                                    padding-bottom: 0px;
                                                    box-sizing: border-box;
                                                }

                                                #d7fw8centeredContent {
                                                    position: relative;
                                                }

                                                #d7fw8inlineContent-gridWrapper {
                                                    pointer-events: none;
                                                }

                                                #d7fw8inlineContent-gridContainer > * {
                                                    pointer-events: auto;
                                                }

                                                #d7fw8inlineContent-gridContainer > [id$="-rotated-wrapper"] {
                                                    pointer-events: none;
                                                }

                                                    #d7fw8inlineContent-gridContainer > [id$="-rotated-wrapper"] > * {
                                                        pointer-events: auto;
                                                    }
                                            </style><div id="d7fw8inlineContent-gridContainer" data-mesh-internal="true"></div>
                                        </div>
                                    </div><div data-ismobile="false" data-is-mesh-layout="true" class="style-jw97ajm6" id="d1nm5" style="height: 100%; left: 0px; position: relative; display: none; max-height: 0px; visibility: hidden; overflow: hidden;">
                                        <div id="d1nm5bg" class="style-jw97ajm6bg" style="margin-left: calc((100% - 980px) / 2); width: 980px;"></div><div class="style-jw97ajm6inlineContent" id="d1nm5inlineContent">
                                            <style id="d1nm5-mesh-styles">

                                                #d1nm5inlineContent {
                                                    height: auto;
                                                    width: 100%;
                                                    position: relative;
                                                }

                                                #d1nm5inlineContent-gridContainer {
                                                    position: static;
                                                    height: auto;
                                                    width: 100%;
                                                    min-height: 2427px;
                                                    padding-bottom: 0px;
                                                    box-sizing: border-box;
                                                }

                                                #d1nm5centeredContent {
                                                    position: relative;
                                                }

                                                #d1nm5inlineContent-gridWrapper {
                                                    pointer-events: none;
                                                }

                                                #d1nm5inlineContent-gridContainer > * {
                                                    pointer-events: auto;
                                                }

                                                #d1nm5inlineContent-gridContainer > [id$="-rotated-wrapper"] {
                                                    pointer-events: none;
                                                }

                                                    #d1nm5inlineContent-gridContainer > [id$="-rotated-wrapper"] > * {
                                                        pointer-events: auto;
                                                    }
                                            </style><div id="d1nm5inlineContent-gridContainer" data-mesh-internal="true"></div>
                                        </div>
                                    </div><div data-ismobile="false" data-is-mesh-layout="true" class="p1" id="c240r" style="height: 100%; left: 0px; position: relative; display: none; max-height: 0px; visibility: hidden; overflow: hidden;">
                                        <div id="c240rbg" class="p1bg" style="margin-left: calc((100% - 980px) / 2); width: 980px;"></div><div class="p1inlineContent" id="c240rinlineContent">
                                            <style id="c240r-mesh-styles">

                                                #c240rinlineContent {
                                                    height: auto;
                                                    width: 100%;
                                                    position: relative;
                                                }

                                                #c240rinlineContent-gridContainer {
                                                    position: static;
                                                    height: auto;
                                                    width: 100%;
                                                    min-height: 552px;
                                                    padding-bottom: 0px;
                                                    box-sizing: border-box;
                                                }

                                                #c240rcenteredContent {
                                                    position: relative;
                                                }

                                                #c240rinlineContent-gridWrapper {
                                                    pointer-events: none;
                                                }

                                                #c240rinlineContent-gridContainer > * {
                                                    pointer-events: auto;
                                                }

                                                #c240rinlineContent-gridContainer > [id$="-rotated-wrapper"] {
                                                    pointer-events: none;
                                                }

                                                    #c240rinlineContent-gridContainer > [id$="-rotated-wrapper"] > * {
                                                        pointer-events: auto;
                                                    }
                                            </style><div id="c240rinlineContent-gridContainer" data-mesh-internal="true"></div>
                                        </div>
                                    </div><div data-ismobile="false" data-is-mesh-layout="true" class="p1" id="vucsp" style="height: 100%; left: 0px; position: relative;">
                                        <div id="vucspbg" class="p1bg" style="margin-left: calc((100% - 980px) / 2); width: 980px;"></div><div class="p1inlineContent" id="vucspinlineContent">
                                            <style id="vucsp-mesh-styles">

                                                #vucspinlineContent {
                                                    height: auto;
                                                    width: 100%;
                                                    position: relative;
                                                }

                                                #vucspinlineContent-gridWrapper {
                                                    pointer-events: none;
                                                }

                                                #vucspinlineContent-gridContainer {
                                                    position: static;
                                                    display: grid;
                                                    height: auto;
                                                    width: 100%;
                                                    min-height: 717px;
                                                    grid-template-rows: min-content min-content 1fr;
                                                    grid-template-columns: 100%;
                                                    padding-bottom: 0px;
                                                    box-sizing: border-box;
                                                }

                                                #comp-jw90nhay {
                                                    position: relative;
                                                    margin: 27px 0px 42px calc((100% - 980px) * 0.5);
                                                    left: 34px;
                                                    grid-area: 1 / 1 / 2 / 2;
                                                    justify-self: start;
                                                    align-self: start;
                                                }

                                                #comp-jw90qdwg {
                                                    position: relative;
                                                    margin: 0px 0px -24px calc((100% - 980px) * 0.5);
                                                    left: 34px;
                                                    grid-area: 2 / 1 / 3 / 2;
                                                    justify-self: start;
                                                    align-self: start;
                                                }

                                                #comp-jw90sv9c {
                                                    position: relative;
                                                    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
                                                    left: 166px;
                                                    grid-area: 3 / 1 / 4 / 2;
                                                    justify-self: start;
                                                    align-self: start;
                                                }

                                                #vucspcenteredContent {
                                                    position: relative;
                                                }

                                                #vucspinlineContent-gridContainer > * {
                                                    pointer-events: auto;
                                                }

                                                #vucspinlineContent-gridContainer > [id$="-rotated-wrapper"] {
                                                    pointer-events: none;
                                                }

                                                    #vucspinlineContent-gridContainer > [id$="-rotated-wrapper"] > * {
                                                        pointer-events: auto;
                                                    }
                                            </style><div id="vucspinlineContent-gridWrapper" data-mesh-internal="true">
                                                <div id="vucspinlineContent-gridContainer" data-mesh-internal="true">
                                                    <div data-packed="true" data-vertical-text="false" class="txtNew" id="comp-jw90nhay" style="width: 911px; pointer-events: none;">
                                                        <p class="font_8" style="font-size:23px; line-height:1.3em;"><span style="font-size:23px;"><span style="font-family:eb garamond,serif;"><span style="letter-spacing:0.03em;"><span style="color:#000000;">Доставка </span></span></span></span></p>

                                                        <p class="font_8" style="font-size:23px; line-height:1.3em;">&nbsp;</p>

                                                        <p class="font_8" style="font-size:23px; line-height:1.3em;"><span style="font-size:23px;"><span style="font-family:eb garamond,serif;"><span style="letter-spacing:0.03em;"><span style="color:#000000;">по Туле&nbsp;курьером тортов до 3 кг осоставляет 450 руб&nbsp;</span></span></span></span></p>

                                                        <p class="font_8" style="font-size:23px; line-height:1.3em;"><span style="font-size:23px;"><span style="font-family:eb garamond,serif;"><span style="letter-spacing:0.03em;"><span style="color:#000000;"><span class="wixGuard">​</span></span></span></span></span></p>

                                                        <p class="font_8" style="font-size:23px; line-height:1.3em;"><span style="font-size:23px;"><span style="font-family:eb garamond,serif;"><span style="letter-spacing:0.03em;"><span style="color:#000000;">Стоимость доставки по области расчитывается индивидуально&nbsp;</span></span></span></span></p>
                                                    </div><div data-packed="true" data-vertical-text="false" class="txtNew" id="comp-jw90qdwg" style="width: 759px; pointer-events: none;">
                                                        <p class="font_8" style="font-size:23px; line-height:1.2em;"><span style="font-size:23px;"><span style="font-family:eb garamond,serif;"><span style="color:#000000;">Самовывоз 7 минут ул. Стоителей 6</span></span></span></p>

                                                        <p class="font_8" style="font-size:23px; line-height:1.2em;">&nbsp;</p>

                                                        <p class="font_8" style="font-size:23px; line-height:1.2em;"><span style="font-size:23px;"><span style="font-family:eb garamond,serif;"><span style="color:#000000;">с 9:00 до 20:00</span></span></span></p>

                                                        <p class="font_8" style="font-size:23px; line-height:1.2em;"><span style="font-size:23px;"><span style="font-family:eb garamond,serif;"><span style="color:#000000;"><span class="wixGuard">​</span></span></span></span></p>

                                                        <p class="font_8" style="font-size:23px; line-height:1.2em;"><span style="font-size:23px;"><span style="font-family:eb garamond,serif;"><span style="color:#000000;">г Тула ул. Строителей,&nbsp;д.6&nbsp;</span></span></span></p>

                                                        <p class="font_8" style="font-size:23px; line-height:1.2em;"><span style="font-size:23px;"><span style="font-family:eb garamond,serif;"><span style="color:#000000;"><span class="wixGuard">​</span></span></span></span></p>

                                                        <p class="font_8" style="font-size:16px; line-height:1.2em;"><span class="inherit-font-size" style="font-size:23px;"><span style="font-family:eb garamond,serif;"><span style="color:#000000;"><span class="wixGuard">​</span></span></span></span></p>
                                                    </div><wix-iframe tabindex="0" data-src="https://static.parastorage.com/services/wix-bolt/1.6254.0/node_modules/wix-santa/static/external/googleMap.html?language=ru&amp;defaultLocation=0&amp;showZoom=true&amp;showStreetView=true&amp;showMapType=true&amp;id=dataItem-jw90svao" id="comp-jw90sv9c" class="gm1" style="width: 608px; height: 280px;"><div id="comp-jw90sv9cmapContainer" class="gm1mapContainer"><iframe width="100%" height="100%" frameborder="0" allowfullscreen="" scrolling="no" src="https://static.parastorage.com/services/wix-bolt/1.6254.0/node_modules/wix-santa/static/external/googleMap.html?language=ru&amp;defaultLocation=0&amp;showZoom=true&amp;showStreetView=true&amp;showMapType=true&amp;id=dataItem-jw90svao"></iframe></div></wix-iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main><footer style="bottom:auto;left:0;margin-left:0;width:100%;min-width:980px;top:;right:;position:" class="style-jtg1dww8_footer style-jtg1dww8" tabindex="-1" data-site-width="980" data-fixedposition="false" data-isrunninginmobile="false" data-is-absolute-layout="false" data-state=" " id="SITE_FOOTER">
                        <div style="left:0;width:100%" id="SITE_FOOTERscreenWidthBackground" class="style-jtg1dww8screenWidthBackground"></div><div style="width:100%" id="SITE_FOOTERcenteredContent" class="style-jtg1dww8centeredContent">
                            <div style="margin-left:calc((100% - 980px) / 2);width:980px" id="SITE_FOOTERbg" class="style-jtg1dww8bg"></div><div id="SITE_FOOTERinlineContent" class="style-jtg1dww8inlineContent">
                                <style id="SITE_FOOTER-mesh-styles">

                                    #SITE_FOOTERinlineContent {
                                        height: auto;
                                        width: 100%;
                                        position: relative;
                                    }

                                    #SITE_FOOTERinlineContent-gridWrapper {
                                        pointer-events: none;
                                    }

                                    #SITE_FOOTERinlineContent-gridContainer {
                                        position: static;
                                        display: grid;
                                        height: auto;
                                        width: 100%;
                                        min-height: auto;
                                        grid-template-rows: min-content min-content 1fr;
                                        grid-template-columns: 100%;
                                    }

                                    #FvGrdLn0 {
                                        position: relative;
                                        margin: 29px 0px 7px calc((100% - 980px) * 0.5);
                                        left: 130px;
                                        grid-area: 1 / 1 / 2 / 2;
                                        justify-self: start;
                                        align-self: start;
                                    }

                                    #SITE_STRUCTURE_WRichText_1 {
                                        position: relative;
                                        margin: 0px 0px 13px calc((100% - 980px) * 0.5);
                                        left: 263px;
                                        grid-area: 2 / 1 / 3 / 2;
                                        justify-self: start;
                                        align-self: start;
                                    }

                                    #FvGrdLn2 {
                                        position: relative;
                                        margin: 0px 0px 0px calc((100% - 980px) * 0.5);
                                        left: 130px;
                                        grid-area: 3 / 1 / 4 / 2;
                                        justify-self: start;
                                        align-self: start;
                                    }

                                    #SITE_FOOTERcenteredContent {
                                        position: relative;
                                    }

                                    #SITE_FOOTERinlineContent-gridContainer > * {
                                        pointer-events: auto;
                                    }

                                    #SITE_FOOTERinlineContent-gridContainer > [id$="-rotated-wrapper"] {
                                        pointer-events: none;
                                    }

                                        #SITE_FOOTERinlineContent-gridContainer > [id$="-rotated-wrapper"] > * {
                                            pointer-events: auto;
                                        }
                                </style><div id="SITE_FOOTERinlineContent-gridWrapper" data-mesh-internal="true">
                                    <div id="SITE_FOOTERinlineContent-gridContainer" data-mesh-internal="true">
                                        <div data-border-width="1px" style="transform-origin:center 0.5px;top:;bottom:;left:;right:;width:715px;height:5px;position:" class="style-jtg1p2vz" id="FvGrdLn0"></div><div data-packed="true" data-vertical-text="false" style="width: 395px; pointer-events: none;" class="txtNew" id="SITE_STRUCTURE_WRichText_1">
                                            <p class="font_9" style="font-size:17px; text-align:center;">
                                                <span class="color_11">
                                                    <span style="font-size:17px;">
                                                        <span style="font-family:eb garamond,serif;">MSweetBakery</span>
                                                    </span>
                                                </span>
                                            </p>
                                            <div class="shop-data__phone">
                                                <span id="onetel" class="shop-data__phone-number _mainheader-top-text-color">
                                                    <a href="tel:+7 (950) 019-24-89">+7 (952) 019-24-89</a>
                                                </span>
                                                <span id="onetel" class="shop-data__phone-number _mainheader-top-text-color">
                                                    <a href="tel:+7 (950) 019-24-89 ">+7 (952) 019-24-89</a>
                                                    <a title="WhatsApp" href="https://api.whatsapp.com/send?phone=79520192489" class="tel__icons tel__icons--whatsapp">
                                                    </a>
                                                </span>
                                                <i class="shop-data__phone-toggle" title="Показать телефоны" onclick="this.parentNode.classList.toggle(&quot;active&quot;)">
                                                </i>
                                            </div>
                                            <p class="font_9" style="font-size:17px; text-align:center;">
                                                <span class="color_11">
                                                    <span style="font-size:17px;">
                                                       
                                                    </span>
                                                </span>
                                            </p>
                                        </div><div data-border-width="1px" style="transform-origin:center 0.5px;top:;bottom:;left:;right:;width:715px;height:5px;position:" class="style-jtg1p2vz" id="FvGrdLn2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div><div id="aspectCompsContainer" class="siteAspectsContainer"><div style="position:absolute" id="popoverLayer"></div></div><div id="SCROLL_TO_BOTTOM" tabindex="-1" aria-label="bottom of page" role="region" style="height:0"></div>
        </div>
    </div>













    <!--Footer -->
    <!--body end html embeds start-->
    <!--body end html embeds end-->

</body>


</html>
@code {

}
