@page "/reviews"

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <div class="row">
        <div class="col-md-12">

            <div id="mdb-lightbox-ui"></div>

            <div class="mdb-lightbox">

                <figure class="col-md-4">
                    <a href="https://instagram.fhrk1-1.fna.fbcdn.net/v/t51.2885-15/e35/c0.90.720.720a/s320x320/106684276_174967890702344_328236218859547194_n.jpg?_nc_ht=instagram.fhrk1-1.fna.fbcdn.net&_nc_cat=108&_nc_ohc=AsSlIV7yk7AAX_j-8_y&oh=c03b6490b4386bd369428bf5f95ab427&oe=5F07D9BA" data-size="1600x1067">
                        <img alt="picture" src="https://instagram.fhrk1-1.fna.fbcdn.net/v/t51.2885-15/e35/c0.90.720.720a/s320x320/106684276_174967890702344_328236218859547194_n.jpg?_nc_ht=instagram.fhrk1-1.fna.fbcdn.net&_nc_cat=108&_nc_ohc=AsSlIV7yk7AAX_j-8_y&oh=c03b6490b4386bd369428bf5f95ab427&oe=5F07D9BA" class="img-fluid">
                    </a>
                </figure>

                <figure class="col-md-4">
                    <a href="https://instagram.fhrk1-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/p750x750/106494940_303891224097121_6146351271636832204_n.jpg?_nc_ht=instagram.fhrk1-1.fna.fbcdn.net&_nc_cat=101&_nc_ohc=fqukD8Y0zIYAX_MgqwV&oh=1cac2e1c88c049f582aa66f75246887b&oe=5F300F27" data-size="1600x1067">
                        <img alt="picture" src="https://instagram.fhrk1-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/p750x750/106494940_303891224097121_6146351271636832204_n.jpg?_nc_ht=instagram.fhrk1-1.fna.fbcdn.net&_nc_cat=101&_nc_ohc=fqukD8Y0zIYAX_MgqwV&oh=1cac2e1c88c049f582aa66f75246887b&oe=5F300F27" class="img-fluid" />
                    </a>
                </figure>

                <figure class="col-md-4">
                    <a href="https://instagram.fhrk1-1.fna.fbcdn.net/v/t51.2885-15/e35/c0.107.857.857a/s320x320/83936898_645231102739595_7897073190967401657_n.jpg?_nc_ht=instagram.fhrk1-1.fna.fbcdn.net&_nc_cat=111&_nc_ohc=4VDZF2BnB0cAX_Ednkg&oh=59d4d97b38bffa26e28ec6516032e3b1&oe=5F30B85A" data-size="1600x1067">
                        <img alt="picture" src="https://instagram.fhrk1-1.fna.fbcdn.net/v/t51.2885-15/e35/c0.107.857.857a/s320x320/83936898_645231102739595_7897073190967401657_n.jpg?_nc_ht=instagram.fhrk1-1.fna.fbcdn.net&_nc_cat=111&_nc_ohc=4VDZF2BnB0cAX_Ednkg&oh=59d4d97b38bffa26e28ec6516032e3b1&oe=5F30B85A" class="img-fluid" />
                    </a>
                </figure>

                <figure class="col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(42).jpg" data-size="1600x1067">
                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(42).jpg" class="img-fluid" />
                    </a>
                </figure>

                <figure class="col-md-4">
                    <a href="https://instagram.fhrk1-1.fna.fbcdn.net/v/t51.2885-15/e35/c0.180.1440.1440a/s320x320/105973412_791856581349662_6052054521342203573_n.jpg?_nc_ht=instagram.fhrk1-1.fna.fbcdn.net&_nc_cat=102&_nc_ohc=DCUIO_Y1LaYAX_gEyD8&oh=6941461b3c24c842e29ba880f4d4ba73&oe=5F2F7AE1" data-size="1600x1067">
                        <img alt="picture" src="https://instagram.fhrk1-1.fna.fbcdn.net/v/t51.2885-15/e35/c0.180.1440.1440a/s320x320/105973412_791856581349662_6052054521342203573_n.jpg?_nc_ht=instagram.fhrk1-1.fna.fbcdn.net&_nc_cat=102&_nc_ohc=DCUIO_Y1LaYAX_gEyD8&oh=6941461b3c24c842e29ba880f4d4ba73&oe=5F2F7AE1" class="img-fluid" />
                    </a>
                </figure>
            </div>
        </div>
    </div>
</body>
</html>




@code
{ 
}
